<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .left{
        width: 200px;
        height: 500px;
        background: gray;
        float: left;
    }

    .right{
        float: left;
        background: lightpink;
        height: 500px;
    }
</style>
<div>
    <div class="left">我是左边</div>
    <div class="right">
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
    </div>
</div>
</body>
</html>
