<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container{
        display: flex;
        display: -webkit-flex;
        width: 200px;
        background-color: gray;
    }

    .right{
        flex:1;
        -webkit-flex: 1;
        background-color: coral;
    }
</style>
<body>
<div class="container">
    <div class="left">我是左边</div>
    <div class="right">
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
        我是右边
    </div>
</div>
</body>
</html>